/* 
Author: Sakib MD Nazmush
Description: Cloning website of Bangladesh Railway. Original site created by Shohoz-Synesis-Vincen JV.
Date: 3 September, 2022
Github: https://github.com/nazsakib
*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
    font-family: "Roboto", sans-serif;
}

/* navigation bar */
.navigation__bar {
    box-shadow: 0 1px 5px -2px gray;
}
.navigation__bar img {
    width: 25%;
    height: auto;
}
.navigation__bar .nav__items ul li a {
    padding: 0 8px;
    color: #2c2c2c;
    font-weight: normal;
    transition: 0.2s;
    letter-spacing: 0.5px;
    border-bottom: 2px solid transparent;
}
.navigation__bar .nav__items ul li a:hover {
    border-bottom: 2px solid black;
}
.navigation__bar .nav__items .active {
    padding: 0 8px;
    border-bottom: 2px solid black;
}

/* navigation bar ended*/

/* search train aree */
.search__train .input__field input {
    padding: 8px 0 8px 8px;
    transition: 0.2s;
}

.search__train .input__button button {
    background-color: #006747;
    transition: 0.1s;
}
.search__train .input__button button:hover {
    background-color: #079d49;
}
.search__train .input__field .from__down input {
    cursor: pointer;
}
.img__purchase span {
    color: #006747;
}
/* search train area ended */

/* search select pay */
.select__pay .main__part .img {
    min-height: 250px;
}
.select__pay .main__part p {
}
/* search select pay ended */

/* purchase instructions area */
.purchase__area .purchase__main .text__side ul li {
    margin-top: 15px;
}
.purchase__area .purchase__main .text__side ul li i {
    padding: 8px;
    border-radius: 50%;
    background-color: #006747;
    color: white;
    font-weight: bolder;
    margin-right: 10px;
}
.purchase__area .purchase__main .text__side ul li p {
    color: #013726;
}
.purchase__area .purchase__main .text__side ul li p a {
    color: #013726;
    font-weight: bolder;
}
.purchase__area .purchase__main .text__side ul li p .gp {
    color: #013726;
    font-weight: bolder;
    text-decoration: underline;
}
/* purchase instructions area ended */

/* payment methods */
.payment {
    padding: 15px 0;
    border-top: 1px solid rgb(148, 148, 148);
    border-bottom: 1px solid rgb(148, 148, 148);
}
.payment__methods {
    width: 25%;
    margin: auto;
    padding: 16px 0;
}
.payment__methods .methods {
    gap: 16px;
}
.payment__methods .methods img {
    width: 100%;
    margin: auto;
}
/* payment methods ended */

/* rules */
.rules {
    width: 65%;
    margin: auto;
    text-align: center;
}
.rules p {
    font-weight: bold;
    color: rgb(79, 79, 79);
    font-size: 12px;
}
/* rules ended */

/* footer section */
.footer__area {
    border-top: 3px solid #026c4b;
    padding: 20px;
}
.footer__area .container {
    padding-top: 20px;
}
.footer__area .container .left {
    text-align: center;
}
.footer__area .container .left .text__english {
    font-weight: bold;
    font-size: 28px;
    color: #da924e;
}
.footer__area .container .left .text__bangla {
    color: #026c4b;
    font-size: 14px;
}
.footer__area .container .middle {
    color: #026c4b;
}
.footer__area .container .middle a:hover {
    text-decoration: underline;
}
.footer__area .container .right p {
    color: #026c4b;
}
/* footer section ended */
